
footer {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 20px !important;
  padding: 20px;
}


#play-game-form {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}
#game-hints-chance-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#game-hints-chance-cont > div {
  width: 100%;
}
/* #game-hints-chance-cont > button{
  width: 100%;
} */

.answer-submit {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 120px;
  font-size: 20px;
}

.game_container {
  width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.google-map {
  width:100%;
  height: 100%;

}

.question-media {
 height:100%;
 width:100%;
 box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);

}
.user-hints {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2rem;
  margin-top: 1rem;

}
.guess-chance {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  margin-left: 20px;
}


.btn-warning {
  color: white;
  background-color: #ff0266;
  border-radius: 3px;
  border: transparent;
  padding: 5px 10px 5px 10px;
}
.btn-warning:hover {
  background-color: #0336ff;
  color: white;
}

.final_text {
  color: #282828;
  font-weight: bold;
  font-size: 2rem;
  /* text-shadow: 0.15rem 0.15rem #ff0266; */
}

.fa-piggy-bank{
  font-size: 3rem;
  color: rgb(224, 141, 155);
}
.fa-coins{
  color: rgb(213, 210, 38);
  font-size: 3rem;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top:10rem;
}
.middle-completed{
  margin-top:1rem;
  font-size: 1.5rem;
}

.btn-success{
  height: 5rem;
  width: 18rem;
  font-size: 150%;
  border-radius: 10px
}
#store_amount{
  margin-left: 1rem;
}
.answer-btn{
  margin-left:1rem;
  width: 11rem !important;
  font-size: 1rem !important;
}
.plus{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size:3rem
}
#play-map-container{
  height: 30rem;
  width: 100%;
  margin-bottom: 5rem;
}

#completed-map-container{
  height: 50rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}
#completed-map-container .row{
  height: 80%;
}
.answer-info-container{
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;

}

.flex div{
  text-align: center;
  margin-top: 50%;
  width: 50%;
}


.sub-title{
  color: #151517;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 4rem;
  margin-left: 1rem;

}
.sub-title i{
  color: orange;
  margin-right: 1rem;
}

#check-in-button{
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: rgb(17, 156, 156);
  cursor: pointer;
  color: white;
  width: 7rem;
  height: 3rem;
  border: 1px white solid;
  border-radius: 8%;
}
.info-content-container{
  width: 100%;
border: 0.1rem rgb(252, 247, 247) solid;
box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
margin: 0.5rem;
background-color: rgba(127, 255, 212, 0.06);
color:rgb(105, 95, 95)
}
.info-content-container span{
  margin: 0.5rem;
}


.check-in-record-container{
  height: 30vh;
  overflow-y: scroll;
}
.check-in-record{
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(251, 238, 238, 0.396);
  margin-bottom: 0.5rem;
}

.profile-image{
  border-radius: 100%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  margin-top: 0.5rem;
}
.check-in-image{
  width: 10rem;
  height: 8rem;
}

.user-info{
  color:gray;
  margin-top:0.5rem
}
.check-in-message, .check-in-image{
  margin-top: 0.5rem;
}
.check-in-number{
  font-size: 1rem;
  color: grey;
}
.no-record{
  font-size: 2rem;
}

.check-in-record .col-2{
  display: flex;
    justify-content: flex-end;
}
.check-in-record .col-10{
margin-bottom: 1rem;
}
/* 
test */



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 50%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#msg{
  margin:1rem;
  color:red
}
.check-in-container{
  display: block;
  text-align: left;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top:2rem
}
#check-in-message{
width:100%;
margin:1rem 0rem 1rem 0rem;
}

.btn-warning{
  margin-right:1rem
}
#file{
  margin-top:1rem
}