
footer {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 20px !important;
  padding: 20px;
}


#play-game-form {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}
#game-hints-chance-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#game-hints-chance-cont > div {
  width: 100%;
}
/* #game-hints-chance-cont > button{
  width: 100%;
} */

.answer-submit {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 120px;
  font-size: 20px;
}

.game_container {
  width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.google-map {
  width:100%;
  height: 100%;

}

.question-media {
 height:100%;
 width:100%;

}
.user-hints {
  display: flex;
  justify-content: center;
  margin: auto;

}
.guess-chance {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  margin-left: 20px;
}


.btn-warning {
  color: white;
  background-color: #ff0266;
  border-radius: 3px;
  border: transparent;
  padding: 5px 10px 5px 10px;
}
.btn-warning:hover {
  background-color: #0336ff;
  color: white;
}

.final_text {
  color: #282828;
  font-weight: bold;
  font-size: 2rem;
  /* text-shadow: 0.15rem 0.15rem #ff0266; */
}

.fa-piggy-bank{
  font-size: 5rem;
  color: rgb(181, 62, 81);
}
.fa-coins{
  color:rgb(213, 210, 38);
  font-size: 5rem;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top:10rem;
}
.middle-completed{
  margin-top:1rem;
  font-size: 2rem;
}

.btn-success{
  height: 5rem;
  width: 18rem;
  font-size: 150%;
  border-radius: 10px
}
#store_amount{
  margin-left: 2rem;
}
.answer-btn{
  margin-left:5rem;
  width: 40vw !important;
  font-size: 150% !important;
}
.plus{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size:3rem
}
#play-map-container{
  height: 30rem;
  width: 100%;
  margin-bottom: 5rem;
}

#completed-map-container{
  height: 30rem;
  width: 50%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
/* 
test */



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 50%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 
test */