#logo {
  height: 10vh;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}
span.navbar-toggler-icon {
  background-color: white;
}
.bg-light {
  background: black !important;
  width: 100%;
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 0%;
}
.narbar-icon {
  margin: 0 10px;
  color: white !important;
  font-size: 20px;
}

.login-button {
  margin-left: 20px;
}

footer {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 20px !important;
  padding: 20px;
}

#image {
  height: 500px;
  aspect-ratio: 1/1;
  margin: none;
  object-fit: cover;
  margin: auto;
  margin-top: 30px;
}



.google-map {
  max-width: 800px;
  height: 500px;
  margin-top: 30px;
  background-color: lightgrey;
}
#reset-map {
  color: white;
  background-color: #ff0266;
  border-radius: 3px;
  border: transparent;
  padding: 5px 10px 5px 10px;
}
#button-addon1{
  width:10rem
}

.btn-warning {
  color: white;
  background-color: #ff0266;
  border-radius: 3px;
  border: transparent;
  padding: 5px 10px 5px 10px;
}
.btn-warning:hover {
  background-color: #0336ff;
  color: white;
}

#reset-map:hover {
  background-color: #0336ff;
}

.button_group {
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 100px;
  width: 100vw;
}
.btn-outline-secondary {
  color: #2c2c2e;
  font-weight: bold;
  font-size: 1.2rem;
  border: transparent;
}

.plus {
  color: orange;
  font-size: 2rem;
  font-weight: 900;
  z-index: 98;
}
.input-group .btn {
  position: relative;
  z-index: 1;
}
.hints-input-box {
  width: 500px !important;
  border-color: block;
  border: transparent;
  background-color: whitesmoke;
}

.hints-container {
  margin: auto;
  margin-top: 20px;
  /* display: flex;
  justify-content: center; */
}
.flex{
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Last touch up by dennis */

#file-input {
  color: black;
  font-weight: 700;
  background-color: rgba(245, 245, 245, 0.671);
  padding-left: 0px;
  padding-right: 0px;
  width: 300px;
}

.container{
  width: 100%;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 17rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.image-review {
background-size: cover;
width: 40rem;
height: 29rem;
border: 1px black solid;
display: flex;
justify-content: center;
align-items: center;
}
.upload-submit{
  margin-left: 10rem;
  margin-right: 10rem;
}