body {
  position: relative;
  height: auto;
}

/* profile_image */

/* upload-btn */

.file-upload-wrapper {
  position: relative;
  width: 230px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(209, 209, 209);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  width: 150px;
  pointer-events: none;
  z-index: 0;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
  font-size: 15px;
}
.file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 40px;
  background: #919191;
  color: #fff;
  font-weight: 700;
  z-index: 1;
  font-size: 15px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
  background: #000000;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

#profile-image {

    width: 10rem;
    height: 10rem;
    border-radius: 80px;
    background-image: url(/anonymous.jpg);
    background-size: cover;
}
#profile-resize {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 80px;
  object-fit: cover;
}
.profile-container {
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.right-column {
  /* display:flex;
    justify-content:left;
    flex-wrap:wrap; */
  width: 430px;
  padding: 10px;
}
.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 430px;
  padding: 10px;
}
.wording {
  margin-bottom: 10px;
}
#sd-btn-container {
  /* margin-left:7%; */
  width: 100%;
  display: flex;
margin-bottom: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.save,
.discard {
  margin-top: 30px;
  width: 80px;
  height: 30px;
  background: #ff0266;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save:hover,
.discard:hover {
  cursor: pointer;
  background: black;
  color: white;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>   input css template <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



textarea {
  resize: none;
  display: inline-block;
  position: relative;
  text-overflow: initial;
  white-space: pre-line;
}
::placeholder {
  text-overflow: initial;
  white-space: pre-line;
  position: absolute;
  bottom: 8px;
}
input,
textarea {
  background: none;
  display: inline-block;
  text-overflow: initial;
  white-space: pre-line;
  color: #575757;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  height: auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

#des-group > input,
textarea {
  height: 120px;
  overflow-wrap: break-word !important;
}

/* #user-description {
    height:150px !important;
  } */

input:focus,
textarea:focus {
  white-space: pre-line;
  outline: none;
  overflow-wrap: break-word;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
#email-label {
  top: -14px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  white-space: pre-line;
  overflow-wrap: break-word;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
  white-space: pre-line;
  overflow-wrap: break-word;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
  display: inline-block;
  overflow-wrap: break-word;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #000000;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #000000;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #000000;
  color: #deeffd;
}
.btn.btn-submit {
  background: #000000;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #000000;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

#profile-container{

  display: flex;
  justify-content: center;
  align-items: center;

}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}
.not-edit{
  border: none;
  outline: none;
}

.column-title{
font-weight: bold;
font-size: 1.2rem;
}

.user-info-container {
  background-color: white;
  width: 50rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 5%;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.2), 0 0 0 2px rgb(245,245,245), 0.3em 0.3em 1em rgba(0,0,0,0.4);
}
.profile-title{
  font-size:3rem
}
.hidden{
  display: none !important;
}

.fa-user-edit{
  padding-bottom: 1rem;
  font-size: 2rem;
}
#icon{
  text-align: right;
  cursor: pointer;
}
.record-nav{
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.2),
             0 0  0 2px rgb(245,245,245),
             0.3em 0.3em 1em rgba(0,0,0,0.4);
  width: 100%;
  /* height: 3rem; */
  background-color: white;
}
.record-btn{
  border-radius: 15%;
  border: 0.5rem solid pink;
  margin: 1rem;
  font-size: 2rem;}

.main-content{
  background-color: white;
  width: 20rem;
  border-radius: 5px 5px 5px 5px;
  margin-top: 2rem;
  margin-left: 50vw;
}
.game_container {
  width: 100%;
  height: 75%;
  margin: none;
  object-fit: cover;
}

.game_info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.user_info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-left: 3px;
  width: 50px;
}

.profile_picture {
  margin-top: 5px;
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.profile_picture:hover {
  transform: scale(1.3) !important;
  transition: transform 0.25s ease-in-out, border 0.3s ease-in-out;
}
.user_name {
  margin-top: 8px;
  font-size: 1rem;
  color: black;
  width: 100px;
  text-align: center;
}
.user_name:hover {
  transform: scale(1.2) !important;
  transition: transform 0.25s ease-in-out, border 0.3s ease-in-out;
}

.reaction {
  margin-right: 1rem;
  font-size: 2rem;
  color: lightgrey;

}

.reaction-icon {
  display: flex;
}

.far:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.clicked-icon-like {
  color: #0336ff !important;
}

.clicked-icon-dislike {
  color: #ff0266 !important;
}

.reaction_number {
  font-family: "Noto Sans TC";
}
.fa-piggy-bank{
  color: pink;
  font-size: 2.5rem;
}
.fa-star{
  color:rgb(213, 210, 38);
  font-size: 2.5rem;
}
.game-board {
  width: 400px;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  background-color: white;
  border: 0.1rem #0336ff solid;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.game-board:hover {
  transform: scale(1.01);
}

#award-img{
  width: 100%;
  }

  .swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0266;
  }
