

.register-container{
  background-color: rgba(255, 255, 255, 0.639);
  width: 25rem;
  height:50rem;
  color: black;
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;

}

.logo-icon {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}


#company-icon-container{
  width: 20rem;
  height: 10rem;
margin-bottom: 5rem;
}
#company-icon-container img{
  width:100%;
  height:auto;
}


/* #register-form {
  background-color: rgb(241, 241, 241);
  width: 400px;
  height: 600px;
  color: black;
  border-radius: 10px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
} */
.fill-in-column {
  width: 250px;
  margin: auto;
  padding-top: 30px;
}
.password-column {
  width: 250px;
  margin: auto;
  padding-top: 30px;
}
.sign-in-button {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:500); */

.google-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 35px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.2px;
  /* font-family: "Roboto"; */
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.sign-in-message {
  margin-top: 50px;
  padding-top: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-left: 80px;
}

.btn-success {

  background-color:white;
color:orange;
  border-color:orange;
}

.btn-success:hover {
  color: #fff;
  background-color:orange;
  border-color:white;
}

.btn-warning {
  background-color:white;
  border-color: #33cbaf;
  color: #33cbaf;
}

.btn-warning:hover {
  background-color: #33cbaf;
  border-color: white;
  color: white;
}

#register-failure{
  text-align: center;
  color:red;
  margin-top:1rem;
  margin-bottom:1rem
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide the scrollbar */
  height: 100vh; /* Set the height to 100 viewport height */
  background-image: url("/cover.jpeg");
  background-repeat: no-repeat;
  background-size:100vw 100vh;
}