.navbar-light .navbar-nav .nav-link {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}
span.navbar-toggler-icon {
  background-color: white;
}
.bg-light {
  background: black !important;
  width: 100%;
}

.navbar-container {
  width: 50%;
  display: flex;
  justify-content: center !important;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 0%;
}
.narbar-icon {
  margin: 0 10px;
  color: white !important;
  font-size: 20px;
}

.login-button {
  margin-left: 20px;
}

footer {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 20px !important;
  padding: 20px;
}

.rules-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  margin-top: -30px;
  margin-bottom: 60px;
}
.rules-text {
  list-style-type: none;
  color: black;
  font-size: 1rem;
}
.rules-subtitle {
  color: #2f2f30;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -5rem;
  margin-left: 1rem;
}
.score-text {
  color: #11846b;
  font-weight: 900;
  font-size: 1.2rem;
}

.plus {
  color: orange;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -2rem;
}
li {
  background-color: white;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.part-container{
border-radius: 15%;
width: 100%;
border: 1px orange solid;
box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}
