body{
    position: relative;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>   nav bar css   <<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .navbar-light .navbar-nav .nav-link {
      color:white;
    }
    
    .dropdown-toggle::after {
    color:white;
    }
    span.navbar-toggler-icon {
      background-color: white;
    }
    .bg-light{
      background:black !important;
      width:100%;
    }
    
    .navbar-container{
      width:50%;
      display:flex;
      justify-content: center !important;
    
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      width:0%;
    }
    .narbar-icon{
      margin:0 10px;
      color:white !important;
      font-size: 20px;;
    }
    .logo{
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 30px;
      /* animation: flicker 1.5s infinite alternate;    */
    }
    
    .neonText:hover{
      color: #fff;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    
      border: 2px solid #fff;
      border-radius: 10px;
      /* padding: 0.4em; */
      box-shadow: 0 0 .1rem #fff,
                  0 0 .1rem #fff,
                  0 0 1rem #bc13fe,
                  0 0 0.8rem #bc13fe,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 0.5rem #bc13fe;
    
    
    }
    @keyframes flicker {
      
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
          text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #0fa,
          0 0 80px #0fa,
          0 0 90px #0fa,
          0 0 100px #0fa,
          0 0 150px #0fa;
      
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
      }    
    }
    
    
    .login-button{
      width:100px;
      margin-left:20px;
      color:black;
      border-radius: 5px;
      margin-top:5px;
    }
    
    .card{
      border-radius: 10px;
    }
    
    #current-user{
      margin-right: 80px;
      margin-top: 30px;
      text-align:right;
    }
    
    .game-area{
    margin:auto;
    margin-top:100px;
    width:600px !important;
    position: relative;
    border-radius: 80px;
    
    }
    .game-media{
    width:574x;
    height:500px;
    opacity:1;  /*close game change to 0.2*/
    position: relative;
    }
    .fa-check-circle{
      position:absolute;
      top:150px;
      left:200px;
      font-size: 150px;;
      display:none;  /*close game change to inline*/
    }
    
    .game-information{
      display: flex;
      justify-content: space-between;
    }
    .report-and-share{
      display: flex;
      align-items: center;
    }
    
    .report-button{
     margin:0 15px;
    }
    .start-game{
      display:flex;
      justify-content: center;
      margin:auto;
      margin-top:30px;
      font-size: 20px;
    }
    .game-time{
      font-size: 30px;
    }
    .fa-stopwatch{
      margin-left:10px;
      color:orange;
    }
    
    footer{
      background-color: black;
      width:100%;
      color:white;
      margin-top:20px !important;
      padding:20px;
      position:fixed;
      bottom:0;
      
  
    }
    
    .show{
      display:block;
    }
    
    .hide{
      display:none ;
    }
    
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>   nav bar css   <<<<<<<<<<<<<<<<<<<<<<<<<<< */
    
  
    
  
  
    /* blank */
    #profile-image{
      margin-bottom:20px;
      width:150px;
      height:150px;
      border:1px solid transparent;
      border-radius:80px;
      background-color:grey;
    }
    #profile-resize{
      margin-bottom:20px;
      width:150px;
      height:150px;
      border:1px solid transparent;
      border-radius:80px;
    }
    .profile-container{
  
      height:30rem;
      display: flex;
      justify-content:space-evenly;
      align-items:center;
      margin-right:5%;
      margin-left:5%;
      margin-bottom:5%;
      flex-wrap:wrap;
  
    }
  
    .right-column {
      /* display:flex;
      justify-content:left;
      flex-wrap:wrap; */
      width: 430px;
      padding:10px;
  
    }
    .left-column{
      /* display:flex;
      justify-content:left;
      flex-wrap:wrap; */
      width: 430px;
      padding:10px;
  
    }
    .wording{
      margin-bottom: 10px;
    }
    #sd-btn-container{
      /* margin-left:7%; */
      width: 100%;
      display:flex;
      padding-bottom: 20%;
      justify-content:space-evenly;
      align-items:center;
    }
  
    .save,.discard{
      margin-top:30px;
      width:80px;
      height:30px;
      background:grey;
      color:black;
      border:1px solid transparent;
      border-radius:5px;
      /* display:flex; */
      justify-content:center;
      align-items:center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .save:hover,.discard:hover{
      cursor:pointer;
      background:black;
      color:white;
    }
  
  
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>   input css template <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  
    .group {
      position: relative;
      margin: 45px 0;
    }
    
    textarea {
      resize: none;
      display: inline-block;
      position: relative;
      text-overflow:initial;
      white-space:pre-line;
      
    }
    ::placeholder{
      text-overflow:initial;
      white-space:pre-line;
      position:absolute;
      bottom:8px;
    }
    input,
    textarea {
      background: none;
      display: inline-block;
      text-overflow:initial;
      white-space:pre-line;
      color: #575757;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 320px;
      height:auto;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #c6c6c6;
      cursor:auto;
    }
  
    #des-group>input,textarea{
      height: 240px;
      overflow-wrap: break-word !important;
    }
  
    /* #user-description {
      height:150px !important;
    } */
  
    input:focus,
    textarea:focus {
      white-space:pre-line;
      outline: none;
      overflow-wrap: break-word;
    }
    input:focus ~ label, input:valid ~ label,
    textarea:focus ~ label,
    textarea:valid ~ label,#readonly-label {
      top: -14px;
      font-size: 12px;
      color: #000000;
      white-space:pre-line;
      overflow-wrap: break-word;
    }
    input:focus ~ .bar:before,
    textarea:focus ~ .bar:before {
      width: 320px;
      white-space:pre-line;
      overflow-wrap: break-word;
    }
    
    
    label {
      color: #c6c6c6;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;
      display: inline-block;
      overflow-wrap: break-word;
    }
    
    .bar {
      position: relative;
      display: block;
      width: 320px;
    }
    .bar:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #000000;
      transition: 300ms ease all;
      left: 0%;
    }
    
    .btn {
      background: #fff;
      color: #959595;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-decoration: none;
      outline: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .btn:hover {
      color: #8b8b8b;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
    .btn.btn-link {
      background: #000000;
      color: #d3eafd;
    }
    .btn.btn-link:hover {
      background: #000000;
      color: #deeffd;
    }
    .btn.btn-submit {
      background: #000000;
      color: #bce0fb;
    }
    .btn.btn-submit:hover {
      background: #000000;
      color: #deeffd;
    }
    .btn.btn-cancel {
      background: #eee;
    }
    .btn.btn-cancel:hover {
      background: #e1e1e1;
      color: #8b8b8b;
    }
    
    .btn-box {
      text-align: center;
      margin: 50px 0;
    }
  
  