#logo_all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#logo_container {
  height: 10vh;
  width: 10vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
#logo_text {
  font-family: "Noto Serif TC", serif;
  font-weight: bold;
  font-size: 10vh;
  -webkit-text-stroke: 0.25vh #ff5959;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.096),
    0 0 0.4rem rgba(255, 101, 101, 0.747), 0 0 0.6rem rgba(255, 36, 36, 0.719),
    0 0 0.8rem #ff00008f, 0 0 1rem #ff000073, 0 0 1.2rem #ff000063,
    0 0 1.4rem #ff000041, 0 0 1.6rem #ff000028;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#circle_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#circle {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  border: 0.5vh solid rgb(166, 255, 166);
  box-shadow: 0 0 0.2rem rgb(100, 255, 100),
    0 0 0.4rem rgba(100, 255, 100, 0.884), 0 0 0.6rem rgba(43, 255, 43, 0.753),
    0 0 0.8rem rgba(31, 255, 31, 0.678), 0 0 1rem rgba(0, 255, 0, 0.568),
    0 0 1.2rem rgba(0, 255, 0, 0.479), 0 0 1.4rem rgba(0, 255, 0, 0.329),
    0 0 1.6rem rgba(0, 255, 0, 0.171);
  position: absolute;
  top: 3vh;
  left: 0;
}

body {
  background-color: rgb(255, 255, 255);
}
